fontSizesBase = 18px 21px 23px 25px

fontSizeBase(n)
	font-size: fontSizesBase[n]
	line-height: fontHeights[0]

//            0     1     2     3     4     5     6
fontSizes 	= 1.00  2.69  1.69  1.50  1.33  1.25  1.10
fontHeights = 1.2   1.3   1.4   1.4   1.4   1.4   1.4

fontSize(n)
	font-size: fontSizes[n] rem
	line-height: fontHeights[n]
	
textRight()
	text-align right
	float right

// @media (max-width: max-1)
// @media (min-width: min-2) and (max-width: max-2)
// @media (min-width: min-3) and (max-width: max-3)
// @media (min-width: min-4)
min-4 = 1700px
max-3 = min-4 - .02px
min-3 = 990px
max-2 = min-3 - .02px
min-2 = 600px
max-1 = min-2 - .02px

textStroke(str, blur, col) {
	text-shadow:
		 3*str   3*str   blur   col,
		-1*str  -1*str   blur   col,
			 str  -1*str   blur   col,
		-1*str     str   blur   col,
			 str     str   blur   col
}

size(height, width)
	height height
	width width

max-size(height, width)
	max-height height
	max-width width

padding-side(side)
	padding-left side
	padding-right side

margin-side(side)
	margin-left side
	margin-right side