<script lang='coffee'>
  import headerSmall from '~/use/button/header/small'
  import footerContact from '~/page/contact'
  export default
    components: { headerSmall, footerContact }
</script>

<template lang='pug'>
  #layout
    headerSmall
    nuxt
    footerContact#footer
</template>

<style lang='stylus'>
	#layout
		color color-front
		background-color color-back
</style>