<script lang='coffee'>
  export default
    props: ['naslov', 'specs']
</script>

<template lang='pug'>
  .list.bulleted
    h2 {{ naslov }}
    ul: li(v-for='spec in specs') {{ spec }}
</template>

<style lang='stylus'>
  .bulleted
    > h2
      margin-bottom 2rem
    > ul
      fontSize 6
      > li
        margin-bottom 1rem
</style>