<script lang='coffee'>
  import imgCapt from '~/use/img/captioned'
  import specList from '~/use/spec/list'
  export default
    props: ['info']
    components: { imgCapt, specList }
</script>

<template lang='pug'>
  section.imgSpecScreen
    imgCapt(:img='info.img' @click.native="$emit('open', info.img)")
    specList(:naslov='info.title' :specs='info.data')
</template>
