<script lang='coffee'>
  import imgCapt from '~/use/img/captioned'
  import specStats from '~/use/spec/stats'
  export default
    components: { imgCapt, specStats }
    props: ['info']
    methods:
      openOglas: -> @$router.push "#{@info.link}"
</script>

<template lang='pug'>
  section.baseinfo.imgSpecScreen
    imgCapt(:img='info.img' :caption='false'
      @click.native='openOglas()')
    .list
      h2(@click='openOglas()') {{ info.title }}
      specStats(:specs='info.data')
</template>

<style lang='stylus'>
  #index > section.baseinfo.imgSpecScreen
    margin 1rem 0
    h2:hover
      cursor pointer
</style>