<script lang='coffee'>
  import imgCapt from '~/use/img/captioned'
  import specStats from '~/use/spec/stats'
  export default
    components: { imgCapt, specStats }
    props: ['info']
</script>

<template lang='pug'>
  section.baseinfo.imgSpecScreen
    imgCapt(:img='info.img' :caption='false'
        @click.native="$emit('open', info.img)")
    .list
      h2 {{ info.title }}
      specStats(:specs='info.data')
</template>

<style lang='stylus'>
  @media (max-width: max-1)
    #oglas
      > .baseinfo.imgSpecScreen
        .list
          margin-top 0
</style>