<script lang='coffee'>
  export default
    props: ['specs']
</script>

<template lang='pug'>
  ol.infoPrvi: li(v-for='spec in specs')
    p 
      span(v-html='spec[1]')
      span(v-html='spec[2]')
      span(v-html='spec[3]')
    figcaption(v-html='spec[0]')
</template>

<style lang='stylus'>
  ol.infoPrvi
    list-style-type: none
    padding-left: .1rem
    display: flex
    flex-wrap: wrap

    > li
      margin: .3rem 1.6rem 1rem 0

      p
        fontSize 2
        margin: 0
        // > span:nth-child(2)
        //   font-size: .97em
        // > span:nth-child(3)
        //   font-size: .83em

      figcaption
        margin-top: -.1rem

</style>