<script lang='coffee'>
  import icoStan       from '~/use/button/nekretnina/stan'
  import icoKuca       from '~/use/button/nekretnina/kuca'
  import icoPoslovni   from '~/use/button/nekretnina/poslovni'
  import icoApartman   from '~/use/button/nekretnina/apartman'
  import icoZemljiste  from '~/use/button/nekretnina/zemljiste'
  import icoGaraza     from '~/use/button/nekretnina/garaza'
  export default
    components: { icoStan, icoKuca, icoPoslovni, icoApartman, icoZemljiste, icoGaraza }
    props: ['current']
    methods:
      filter: (val) -> @$emit("filter", val)
      isActive: (val) -> if val is @current then 'active'
</script>

<template lang='pug'>
  nav.filter.menu
    icoStan(@click.native='filter("prodaja-stan")' :class='isActive("prodaja-stan")')
    icoKuca(@click.native='filter("prodaja-kuca")' :class='isActive("prodaja-kuca")')
    icoPoslovni(@click.native='filter("najam-poslovni")' :class='isActive("najam-poslovni")')
    //- icoApartman(@click.native='filter("apartman")' :class='isActive("apartman")')
    icoZemljiste(@click.native='filter("prodaja-zemljiste")' :class='isActive("prodaja-zemljiste")')
    //- icoGaraza(@click.native='filter("garaza")' :class='isActive("garaza")')
</template>

<style lang='stylus'>

  nav.filter.menu
    fontSize 6
    text-align center
    border-radius 6px
    display flex
    flex-wrap wrap
    justify-content space-evenly
    // align-items center
    justify-content center
      
    > div
      padding 1rem 1rem 2rem
      cursor pointer
      size 6rem 6rem
      border-radius .3rem
      &.active
        color color-back-h-blue
        .colored
          fill black
      &:hover
        box-shadow 0 0 .3rem .1rem rgba(black, .3)
        svg
          transform scale(1.06)
    svg
      transition all .19s
      size 4rem 4rem
    .colored
      fill color-h-blue
    figcaption
      margin-top -.06rem

</style>
