<template lang='pug'>
  nav.filter.menu
    .menu
      div
        h3 Prodaja
        ul
          li Stan
          li Kuća
          li Zemljište
          li Poslovni
      div
        h3 Najam
        ul
          li Stambeni
          li Poslovni
    .close(@click="$emit('closeFilter')")
</template>

<style lang='stylus'>
  nav.filter.menu
    position fixed
    top 0
    left -100vw
    size 100vh 100vw
    display flex
    transition left .13s
    &.active
      left 0

    .menu
      display flex
      flex-wrap wrap
      align-content flex-start
      padding 3rem 3.6rem 3rem 3rem
      color color-back
      background color-back-invert // color-back-h-blue
      box-shadow 0 0 .6rem .6rem rgba(0,0,0,.6)
      overflow-y scroll
      
      &::-webkit-scrollbar
        width 12px
      &::-webkit-scrollbar-track
        background color-back-invert
      &::-webkit-scrollbar-thumb
        background color-div

      > div
        margin 1.5rem
      h3
        fontSize 6
        margin-top 0
        margin-bottom .6rem
      ul
        list-style none
        padding-left 0
        margin 0
        fontSize 2
      li
        padding .13em 0
        cursor pointer
        &:hover
          color color-h-blue

    .close
      width 100%

</style> 