<script lang='coffee'>
  import arwIco from '~/use/button/icon/arrow'
  export default
    components: { arwIco }
    props: [ 'tip', 'loc', 'num' ]
</script>

<template lang='pug'>
  nav.filter.button
    h2 {{ tip }}
    arwIco
    h2 {{ loc }}
      span  (
      span {{ num }}
      span )
</template>

<style lang='stylus'>
  nav.filter.button
    fontSize 2
    margin 0
    padding-right 3rem
    border-radius 0 6px 6px 0
    > *
      display inline-block
    > h2, p
      margin 0
    > h2:last-child
      > span:first-child, > span:last-child
        fontSize 3
        padding 0 .16rem
    > svg
      padding 0 .6rem
    
</style>