<script lang='coffee'>
  import filterBtn  from '~/use/button/header/filterBtn'
  export default components: { filterBtn }
</script>

<template lang='pug'>
  #naslovna
    #headimg
      h2#logo Invest Nekretnine
      //- p.button Loše je kupcima reć Gdje vaša nekretnina vrijedi više
    //- header.menu
    //-   //- filterBtn(@click.native='$emit("openFilter")' tip='Prodaja', loc='Zagreb', num='4')
    //-   div
    //-     .save.button Spremi
    //-     .translate.button View in English
    //-     n-link.contact.button(to='/contact') Kontakt Info
</template>

<style lang='stylus'>
  #naslovna
    margin-bottom 3rem
    header.menu
      margin .6rem 0
      display flex
      justify-content flex-end
      align-items center
    #headimg
      padding 6rem 0
      // padding-top 9rem
      text-align center
      background url('~file/style/img/naslovna.jpg') center no-repeat
      background-size cover
      box-shadow 0 -1rem 1rem rgba(0,0,0,.66) inset
      filter saturate(.8)
    #logo
      textStroke(9px, 16px, color-front)
      color color-back
      font-size 3.3em
      word-spacing .3rem
      font-weight bold
      display inline-block   
    // slogan
      // p
      //   fontSize 4
      //   // textStroke(2px, 4px, color-front)
      //   background color-back
      //   // background color-h-blue
      //   display inline
      //   cursor default
      //   &:hover
      //     box-shadow none
      // h2, p
      //   margin 0




</style>