<template lang='pug'>
	header.menu.small
		n-link#logo.button(to='/') Invest Nekretnine
		div
			//- .save.button Spremi
			.translate.button View in English
			n-link.contact.button(to='/contact') Kontakt Info
</template>

<style lang='stylus'>
	header.menu.small
		display flex
		padding 1rem .6rem
		> div
			display flex

		@media (max-width: max-1)
			align-items center
			flex-direction column
			#logo
				padding 3rem 2rem
				fontSize 1
				text-align center
			> div
				flex-direction column-reverse
				align-items center
				.button
					margin .6rem 0

		@media (min-width: min-2)
			fontSize 5
			justify-content space-between

</style>