<script lang='coffee'>
	import closeIco   from '~/use/button/icon/close'
	import arrowIco   from '~/use/button/icon/long-arrow'
	import messageBtn from '~/use/button/action/message'
	import phoneBtn   from '~/use/button/action/phone'
	import mailBtn    from '~/use/button/action/mail'
	export default
		components: { closeIco, arrowIco, messageBtn, phoneBtn, mailBtn }
		layout: 'clean'
		methods: toTop: -> window.scrollTo(0,0)
</script>

<template lang='pug'>
	section.contactScreen
		header.menu
			.translate.button View in English
			closeIco.close(v-if='$route.name == "contact"' @click.native='$router.go(-1)')
			arrowIco.close(v-else @click.native='toTop()')
		.container
			h2 Poticaj za kontakt zadnji put - isključivo kupcima
			p.about Marketinška poruka zadnji put, poticaj za kontakt (call to action, potražite CTA na guglu ili kod Len Smitha). Npr Kupac ne plaća proviziju itd.
			.contact.menu
				phoneBtn
				messageBtn
				mailBtn
			p.co-info
					| Simple Way d.o.o.
					br
					| Koturaška cesta 35, Zagreb
					br
					| OIB 5710 5557 662
</template>

<style lang='stylus'>
	section.contactScreen
		min-height calc(100vh - 1px)
		color color-back
		background color-back-h-blue
		box-shadow 0 4vh 2vh -3vh rgba(0,0,0,.5) inset

		header.menu
			fontSize 6
			display flex
			justify-content flex-end
			align-items center
			.button
				background color-h-blue2
				&:hover
					background color-h-blue
		.close.icon
			fill color-back
			margin-right 1rem
			&:hover
				fill color-h-blue2

		.container
			fontSize 4
			padding 0 1rem 3rem
			@media (min-width: min-3)
				padding 0 9vw 3rem

			h2
				fontSize 1
				margin-bottom 2.3rem
				max-width 14em
			p.about
				max-width 20em
				margin-bottom 3rem

			.contact.menu
				fontSize 5
				margin-left -.6em
				margin-bottom 3.1rem
				.button
					color color-back
					svg
						fill color-back
					background color-h-blue2
					margin .3em
					
					&:hover
						background color-h-blue2

</style>