<script lang='coffee'>
	export default
		data: ->
			msg: ''
			contact: ''
		layout: 'clean'
</script>

<template lang='pug'>
	#contact-msg
		label(for='your-msg') Vaša poruka
		textarea(autofocus v-model='msg')#your-msg
		label(for='your-contact') Vaš kontakt
		input#your-contact(v-model='contact')
		.button Pošalji
</template>

<style lang='stylus'>
	#contact-msg
		fontSize 4
		min-height calc(100vh - 1px)
		color color-back
		background color-back-h-blue
		box-shadow 0 4vh 2vh -3vh rgba(0,0,0,.5) inset
		padding 0 1rem 3rem
		@media (min-width: min-3)
			padding 0 9vw 3rem

		label
			display block
			padding 3rem 0 1rem

		input, textarea
			display block
			background none
			outline none 
			color color-back
			fontSize 2
			font-family serif
			padding 0
		
		borderStyle()
			2px solid color-h-blue

		input, textarea
			border none
			max-width 40rem
			padding-left 1rem

		input
			border-left borderStyle()
			size 3rem 100%

		textarea
			border-left borderStyle()
			width 100%
			min-height 30vh

		.button
			margin-top 3rem
			background color-h-blue
			color color-back
			&:hover
				background color-back
				color color-front

</style>