<script lang='coffee'>
	import {parser} from '~/code/parser'
	import navMenu from '~/use/img/nav-sadrzaj'
	import navBtns from '~/use/img/nav-btns'
	export default
		asyncData: ({params, payload}) =>
			get = payload or await require "~/file/data/#{params.type}/#{params.oglas}.md"
			path = parseInt params.slike
			ogls = parser get.default, params.oglas
			{ ogls, path, params, img: ogls.imgs[path] }
		data: -> showSadrzaj: false
		mounted: -> document.addEventListener 'keyup', @keynav
		beforeDestroy: -> document.removeEventListener 'keyup', @keynav
		layout: 'clean'
		components: { navMenu, navBtns }
		methods:
			go: (toLink) -> @$router.replace toLink
			next: (x=1) ->
				go = @path + x
				max = @ogls.imgs.length
				if go < 0 then go = max-1
				if go < max then "#{go}" else '0'
			close: ->
				if @$store.state.oglas is @params.oglas then @$router.go -1
				else @$router.push "/#{@params.type}/#{@params.oglas}"
			keynav: (key) ->
				if @params.slike then switch key.code
					when 'ArrowLeft'  then @go @next -1
					when 'ArrowRight' then @go @next()
					when 'Escape' then @close()
</script>

<template lang='pug'>
	#galleryOpen
		#canvas
			div: img(:src='img.file' :alt='img.opis')
			figcaption(v-if='img.opis') {{ img.opis }}
		navMenu(:ogls='ogls' :path='path' :class='{"active": showSadrzaj}' @close='showSadrzaj = false')
		navBtns(@prev='go(next(-1))' @next='go(next())' @close='close()' @list='showSadrzaj = !showSadrzaj')
</template>

<style lang='stylus'>

	#galleryOpen
		color color-back
		background color-back-invert
		position fixed
		display flex
		justify-content center
		size 100vh 100vw
		overflow hidden
		
		#canvas
			display flex
			flex-direction column
			justify-content center
			align-items stretch
			size 100vh 100vw
			img
				object-fit contain
				size 100% 100%
				max-height 69vh

			figcaption
				fontSize 6
				text-align center
				background color-back-invert
				padding 1rem 0 1em

			@media (max-width: max-1)
				margin-top -1.6vh
				figcaption
					padding-side .6rem
			@media (min-width: min-2)
				margin-top -3vh
				padding-side .6rem
				figcaption
					padding-side 3.3rem
			@media (min-width: min-3)
				padding-side 3.3rem

</style>