<script lang='coffee'>
  import infoStat from '~/use/spec/statsImg'
  import infoList from '~/use/spec/listImg'
  import infoImgs from '~/use/img/gallery'
  import {parser} from '~/code/parser'
  export default
    asyncData: ({params, payload}) =>
      get = payload or await require "~/file/data/#{params.type}/#{params.oglas}.md"
      ogls: parser get.default, params.oglas
    components: { infoStat, infoList, infoImgs }
    methods:
      openGallery: (slika) ->
        @$store.commit 'setOglas', @ogls.base.link
        @$router.push "#{@ogls.base.link}/#{slika.index}"
</script>

<template lang='pug'>
  #oglas
    component(v-for='item, i in ogls.body' :key='i'
      :is='item.tip' :info='item' @open="openGallery($event)")
    //- .arrowMore
</template>

<style lang='stylus'>

	#oglas
		// color color-front
		// background-color color-back
		
		@media (max-width: max-1)
			.imgSpecScreen .list
				margin 2rem 1rem

		@media (min-width: min-2) and (max-width: max-2)
			margin -3rem 0 3rem
			> .imgSpecScreen
				margin 3rem 0
				.captioned figcaption
					margin-side auto
					width 25rem
					padding-right 3rem

		@media (min-width: min-3)
			margin -8rem 0 6rem
			> .imgSpecScreen
				margin 12rem 0

			> .imgSpecScreen:nth-child(even)
				flex-direction row-reverse
			> .imgSpecScreen:nth-child(odd)
				.captioned figcaption
					textRight()

      // .arrowMore
      //   position absolute
      //   bottom 1.6rem
      //   left 29%
      //   // left calc(50% - 9rem)
      //   size 3rem 3rem
      //   background url('~file/style/img/arrow.svg') center no-repeat
      //   background-size contain
      //   transform rotate(90deg)
      //   opacity .6
      //   animation: MoveUpDown 3.9s ease-in-out infinite;

	@keyframes MoveUpDown
		0%, 100% { bottom: 1rem }
		50% { bottom: 1.6rem }
</style>