<script lang='coffee'>
	import imgCapt from '~/use/img/captioned'
	export default
		props: ['img']
		components: { imgCapt }
</script>

<template lang='pug'>
	#imgCanvas
		imgCapt(:img='img' :caption='false' @click.native='$emit("next")')
		figcaption {{img.opis}}
</template>

<style lang='stylus'>

		#imgCanvas
			display flex
			flex-direction column
			align-items center
			// justify-content space-evenly

			.captioned
				height 80vh
				width calc(100vw - 7rem)
				object-fit cover
				img
					object-fit contain

			> figcaption
				fontSize 6
				text-align center
				margin 1rem .6rem .6rem 1rem

</style>