<script lang='coffee'>
  export default
    props:
      img: { file: String, opis: String }
      caption: { type: Boolean, default: true }
</script>

<template lang='pug'>
  .captioned
    img(v-if='img.file' :src='img.file' :alt='img.opis')
    figcaption(v-if='caption && img.opis') {{ img.opis }}
</template>

<style lang='stylus'>

  .captioned 

    > img
      border-radius 8px
      object-fit cover
      size 100% 100%
      cursor pointer
 
    > figcaption
      fontSize 6
      margin .5rem .3rem
      @media (max-width: max-1)
        margin-left 1rem
      @media (min-width: min-2)
        max-width 80%


</style>