<script lang='coffee'>
	import imgCapt from '~/use/img/captioned'
	export default
		props: ['info']
		components: { imgCapt }
</script>

<template lang='pug'>
	section.slikeGalerija
		imgCapt(v-for='img, i in info.data' :key='i'
			:img='img' @click.native="$emit('open', img)")
</template>

<style lang='stylus'>

	section.slikeGalerija
		display flex
		flex-wrap wrap

		.captioned
			margin-bottom 1.3rem

			img
				height 23rem
				border-radius 0

		@media (max-width: max-1)
			margin 0
			.captioned
				width 100%
				img
					border-radius 8px
	
		@media (min-width: min-2)
			.captioned
				margin-bottom 1.3rem
				&:nth-child(n+1)
					margin-side .2rem
				&:nth-child(4n), &:nth-child(4n+1)
					width 40%
				&:nth-child(4n+2), &:nth-child(4n+3)
					width calc(60% - .8rem)

		@media (min-width: min-3)
			margin 12rem .2rem 8rem
			max-width 80rem
			margin-side auto



			

</style>