<script lang='coffee'>
	import arwIco from '~/use/button/icon/arrow'
	import clsIco from '~/use/button/icon/close'
	import lstIco from '~/use/button/icon/list'
	export default
		components: { arwIco, clsIco, lstIco }	
</script>

<template lang='pug'>
	nav.btns
		.sadrzaj(@click='$emit("list")'): lstIco
		.prev(@click='$emit("prev")'): arwIco
		.close(@click='$emit("close")'): clsIco
		.next(@click='$emit("next")'): arwIco
</template>

<style lang='stylus'>
	#galleryOpen nav.btns
		> *
			top 0
			position fixed
			cursor pointer
			background rgba(color-back-invert, .6)
			border-radius 8px
			.colored
				fill color-div
			&:hover
				background color-back-invert-light
				.colored
					fill color-h-blue

		@media (max-width: max-2)
			.sadrzaj
				left 0
				padding 1rem .7rem .6rem .9rem
				z-index 5
				svg
					size 2.1rem 2.1rem
				
		@media (min-width: min-3)
			.sadrzaj
				display none
		
		.prev
			left 0
		.next
			right 0
		.close
			@media (max-width: max-1)
				padding-top .5rem
			z-index 5
			right 0

		.next, .prev
			background none
			svg
				size 2.9rem 2.9rem
				background rgba(color-back-invert, .3)
			@media (max-width: max-2)
				svg
					position fixed
					bottom 0
			@media (min-width: min-3)
				padding-top 39vh
			height 100%
			text-align center

		@media (max-width: max-2)
			.prev svg
				left 0
			.next svg
				right 0


		.prev > .arrow.icon
				transform scaleX(-1)

</style>