<script lang='coffee'>
	import clsIco from '~/use/button/icon/close'
	export default
		props: ['ogls', 'path']
		components: { clsIco }
		methods:
			isActive: (sort) ->
				if sort.link is @path then 'active exact'
				else if sort.name is @ogls.imgs[@path].sort then 'active'
				else ''
</script>

<template lang='pug'>
	nav.menu
		clsIco.close(@click.native='$emit("close")')
		h3 Sadržaj
		ul: li(v-for='sort, i in ogls.imgsort' :key='i' :class='isActive(sort)'
			@click='$router.replace(sort.link.toString())')  {{sort.name}}
</template>

<style lang='stylus'>
	#galleryOpen nav.menu
	
		@media (max-width: max-2)
			display none

			&.active
				display flex
				flex-direction column
				justify-content center
				padding-left 1rem
				position fixed
				z-index 10
				top 0
				bottom 0
				left 0
				right 0
				background color-back-invert

				.close
					position fixed
					top 0
					left 0
					padding 1rem .7rem .6rem .9rem
					fill color-div

		@media (min-width: min-3)
			align-self center
			text-align right
			width 10.6rem
			margin -4rem 3.6rem 0 -10vw
			padding 2rem
			border-right 1px solid color-div
	
			.close
				display none

		fontSize 2

		h3
			fontSize 6
			margin-top 0
			padding-right .1rem

		ul
			list-style-type none
			padding-left 0
			margin 0
				
		li
			padding .13em 0
			cursor pointer
			
			&.active
				color color-front-invert-light
			&.active.exact
				cursor default
			&:hover
				color color-h-blue
			&.active.exact:hover
				color color-front-invert-light


</style>