html, body, select, option
  margin 0
  font-family serif
  overflow-x hidden

html, body
	color color-back
	background color-back-invert
	// color color-front
	// background-color color-back
	letter-spacing .01%

@media (max-width: max-1)
	html, body
		fontSizeBase 0
@media (min-width: min-2) and (max-width: max-2)
	html, body
		fontSizeBase 1
@media (min-width: min-3) and (max-width: max-3)
	html, body
		fontSizeBase 2
@media (min-width: min-4)
	html, body
		fontSizeBase 3

h1, h2, h3, h4, h5, h6
  font-weight normal
h1
  fontSize 1
h2
  fontSize 2
  margin 1rem 0
h3
  fontSize 3
  margin 1em 0
  
a
  color inherit
  text-decoration none

// .v-select .vs__dropdown-toggle
//   padding .1rem .9rem .1rem .3rem
//   margin .3rem
//   fontSize 6
//   background color-back-h-blue
//   border none
//   .vs__selected
//     color color-back
//   svg
//     fill color-back

//   &:focus
//     outline none
//     // box-shadow 0 -3px 3px 1px black

