.button
	display inline-block
	border-radius .3rem
	padding .2em .9em
	margin .1em
	cursor pointer
	// background color-back
	&:hover
		box-shadow 0 .088rem .1rem 0 rgba(0,0,0,.33)
		background color-back3

.button.icon
	svg
		width  1.1em
		height 1.1em
		margin 0 .45em -.196em -.2em

.close.icon
	padding .6rem
	size 2rem 2rem
	cursor pointer

header.menu

	.contact.button
		color color-back
		background color-h-blue
		@media (min-width: min-2)
			margin-right 1rem

	.button
		&:hover
			color color-back
			.colored
				fill color-back
			background color-h-blue

	@media (max-width: max-1)
		fontSize 5
	@media (min-width: min-2)
		fontSize 6
		padding .3rem 0

		
