.list
	ul, ol
		padding-left 1.2em
	ul > li
		padding-left .33em
	@media (max-width: max-2)
		margin 1rem
	@media (min-width: min-2) and (max-width: max-2)
		margin 2rem auto
		width 28rem
	@media (min-width: min-3)
		ul, ol, h2
			width 19rem

section.baseinfo
	.list
		> h2
			max-width 12em
			padding-right 2em
		> p
			margin 0
			fontSize 4

section.imgSpecScreen
	display flex
	flex-wrap no-wrap
	justify-content center

	@media (max-width: max-1)
		.list
			padding-bottom 7rem

	@media (max-width: max-2)
		flex-wrap wrap
		.captioned
			width 100%
			img
				height 27rem
		.list
			max-width 100%
			padding-bottom 3rem

	@media (min-width: min-3)
		align-items center
		padding 0 .6rem
		.captioned
			size 27rem 27rem
		.list
			margin 0 2rem

	@media (min-width: min-4)
		.list
			margin-side 3rem

#footer
	padding-top 1rem
	@media (max-width: max-2)
		margin-top 3rem
	@media (min-width: min-3)
		margin-top 7rem