<script lang='coffee'>
	import headerSmall    from '~/use/button/header/small'
	import filterMenu     from '~/use/button/header/filterMenu'
	import indexItem      from '~/use/spec/statsImgIndex'
	import footerContact  from '~/page/contact'
	export default
		data: -> filter: 'prodaja-stan'
		computed: oglasi: -> @$store.state.oglasi.filter (o) => o.base.link.includes @filter
		components: { filterMenu, footerContact, indexItem, headerSmall }
		layout: 'clean'
		methods:
			filtering: (val) ->
				@filter = val
				window.scrollTo {
					behavior: 'smooth'
					top: 300
					}
				# document.getElementById('oglasi').scrollIntoView { behavior: 'smooth'}
</script>

<template lang='pug'>
	#index
		#index-head
			h2#logo-main Invest Nekretnine
			filterMenu(@filter='filtering($event)' :current='filter')
			headerSmall
			indexItem(v-for='o, i in oglasi' :key='i' :info='o.base')
		footerContact#footer
</template>

<style lang='stylus'>

	#index-head
		@media (max-width: max-1)
			padding 2rem 0 1rem
		@media (min-width: min-2) and (max-width: max-2)
			padding-top 7rem
		@media (min-width: min-3)
			padding-top 6rem
		#logo-main
			fontSize 1
			@media (max-width: max-1)
				padding 3rem 2rem
			word-spacing .3rem
			text-align center
		#logo
			display none

		@media (min-width: min-2)
			header
				position absolute
				top 0
				right 0
		nav.filter.menu
			@media (min-width: min-2) and (max-width: max-2)
				margin-bottom 6rem
			@media (min-width: min-3)
				margin-bottom 3rem

</style>